
/* 
body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.primeiro{
    text-align: center;
    width: 1920px;
    height: 200px;
    background-color: red;
}

.segundo{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.terceiro{
    text-align: center;
    width: 1920px;
    height: 650px;
    background-color: violet; 
}

.quarto{
    text-align: center;
    width: 200px;
    height: 680px;
    background-color: green;
}

.quinto{
    text-align: center;
    width: 1920px;
    height: 100px;
    background-color: brown;
}  
*/


/* 
.quadrado-1{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: red;
}
  
.quadrado-2{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: green;
    margin-left: 50px;
    margin-top: 50px;
}
  
.quadrado-3{
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: blue;
    margin-top: 100px;
    margin-left: 100px;
} 
    */